<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<nav class="navbar">
    <div class="logo">
        IIM
    </div>

    <ul class="nav-list">
        <li class="nav-item">
            <a class="nav-link" href="/">Blog</a>
        </li>
        <% if (typeof user !== "undefined") { %>
            <li class="nav-item">
                <a href="/logout" class="nav-link">Se deconnecter</a>
            </li>
        <% } else { %>
            <li class="nav-item">
                <a class="nav-link" href="/login">Se connecter</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary" href="/register">Créer un compte</a>
            </li>
        <% } %>
    </ul>
</nav>

<% if (typeof errors !== "undefined" && errors.length > 0) { %>
    <div class="container"><%= errors[0][0].message %></div>
<% } %>

    <%- body %>

</body>
</html>